adafruit_displayio_ssd1306
adafruit_requests
adafruit_mpr121
adafruit_ina219
adafruit_ina260
adafruit_ticks
adafruit_st7735r
adafruit_bitmap_font
adafruit_register
adafruit_bus_device
asyncio
adafruit_display_shapes
adafruit_espatcontrol
adafruit_display_text
adafruit_sdcard
